<!DOCTYPE html>
<html lang="nl">
<head>
    <title>Colin Keppel</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="grfx/css/hoofd.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header id="header">

    <h2 id="title">HOME</h2>

</header>

<nav id="nav">

    <ul id="navul">
        <li class="navtext"><a href="index.html">Home</a></li>
        <li class="navtext"><a href="hobby.html">Over mijn hobby</a></li>
        <li class="navtext"><a href="news.html">News</a></li>
    </ul>

</nav>




<main id="main">


    <aside class="ads">

        <a href="https://www.google.nl">   <img id="fotoreclame" src="grfx/img/reclame.png" alt="reclame"> </a>
        <a href="https://www.google.nl"> <img id="fotoreclame2" src="grfx/img/AD1s.png" alt="Colin1"> </a>

    </aside>


    <section id="articlecontainer">
        <article class="article">

            <section class="news">
                <h2>Resultaat in Frankrijk!</h2>
                <p id="tekst1">Op 24 septermber heeft Colin Keppel, een super resultaat neergezet in Frankrijk.
                van de 235 deelnemers heeft Colin een 5e plaats behaald! daarna is hij ook gevraagd om voor een Franse ploeg te schermen.</p>
            </section>
        </article>

        <article class="article">

            <section class="news">
                <h2>Wederom kampioen!</h2>
                <p id="tekst2">Op het NK senioren is er door Schermclub den Bosch wederom een goude medaille gehaald.
                Dit is voor den Bosch de 8e medaille achter elkaar bij Heren. Volgend jaar word de zelfde opstelling gebruikt aangezien er overtuigend werd gewonnen.</p>
            </section>
        </article>

        <article class="article">
            <section class="news">
                <h2>Kracht training op maandag!</h2>
                <p id="tekst3">Vanaf nu zijn er op maandag kracht training.
                Deze training begint om 19:00 en alle wedstrijd schermers zijn uitgenodigd, deze training bevat kracht training, uithoudingsvermorgen en balans.</p>
            </section>

        </article>

        <article class="article">
            <section class="news">
                <h2>Wedstrijden.</h2>
                <p id="tekst4">Dit zijn alle kwalificatie wedstrijden van dit seizoen.
                De hoofd wedstrijden zijn: Bahrein, Riga, Luxemburg, Basel, Parijs en de titel toernooien.</p>
            </section>
        </article>

    </section>



</main>

</body>


</html>
